<%- include("../studentView/headerStudent.ejs"); -%>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <div class="right_col" role="main">
        <div id="frame">
            <div id="sidepanel">
                <div id="profile">
                    <div class="wrap">
                        <img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />
                        <p>
                            <%=userInfo%>
                        </p>
                        <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>

                    </div>
                </div>
                <div id="contacts">
                    <ul>
                        <% chatStudents.forEach(function(chat_list){ %>
                            <li class="contact">
                                <div class="wrap msgcontainer" id="<%=chat_list.registred_id%>">
                                    <img src="<%=chat_list.pic%>" alt="" height="50px" width="50px" />
                                    <div class="meta">
                                        <p class="preview" id="chatter">
                                            <%=chat_list.name%>
                                                <label style="font-size: 10px;text-align: left;color:tomato;">(<%=chat_list.role_id.role_name%>)</label>

                                        </p>
                                    </div>
                                </div>
                                <p class="preview">Click here to chat</p>
                            </li>
                            <% }) %>
                    </ul>
                </div>
            </div>
            <div class="content">
                <div class="contact-profile">
                    <p id="chatbc" style="color: whitesmoke;"></p>

                </div>
                <div class="messages" id="messageList">
                    <br><br>

                </div>
                <div class="message-input">
                    <div class="wrap">
                        <input type="text" placeholder="Write message here..." id="chatinfo" />
                        <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true" onclick="fn2()"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script type="text/javascript">
        var chatWith = "";
        var clickedId = "";

        function fn1(id) {
            var to_id = id;
            chatWith = to_id;
            var from_id = '<%= userId %>'
            var to = to_id;
            var from = from_id;
            chat_name = $('#' + to).text();
            $('#chatbc').text(chat_name);

            var jsonData = {
                to1: to,
                from1: from
            }

            $.ajax({
                url: "/plz",
                method: "POST",
                dataType: 'json',
                data: JSON.stringify(jsonData),
                contentType: "application/json",
                cache: false,
                success: function(res) {
                    var jsonData = JSON.stringify(res);
                    console.log(jsonData);
                    var messageList = "<ul>";
                    $.each(res, function() {
                        console.log('<%= userId %>');
                        if (this.from.registred_id == '<%= userId %>') {
                            var sent = '<li class="replies">' +
                                '<img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />' +
                                '<p>' + this.chat + '</p>' +
                                '</li>';
                            messageList = messageList + sent;
                        } else {
                            var replies = '<li class="sent">' +
                                '<img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />' +
                                '<p>' + this.chat + '</p>' +
                                '</li>';
                            messageList = messageList + replies;
                        }
                    });
                    messageList = messageList + "</ul>";

                    $("#messageList").html(messageList)
                },
                error: function(err) {

                }
            });

        }

        function fn2() {

            var send_chat = $("#chatinfo").val();
            var to_id = chatWith;
            var from_id = '<%= userId %>'

            var to = to_id;
            var from = from_id;
            var jsonData = {
                to1: to,
                from1: from,
                send_chat: send_chat
            }

            $.ajax({
                url: "/inbox",
                method: "POST",
                dataType: 'json',
                data: JSON.stringify(jsonData),
                contentType: "application/json",
                cache: false,
                success: function(res) {

                    $("#chatinfo").val(" ");
                },
                error: function(err) {
                    alert(err);
                }
            });

        }
        $(".msgcontainer").click(function() {
            clickedId = $(this).attr("id");
            setInterval(function() {
                fn1(clickedId);
            }, 1000);
            fn1(clickedId);
        });
    </script>

    <!-- /page content -->
    <%- include("../studentView/footerStudent.ejs"); -%>